<ion-view title="Send">
  <ion-content>
<!--all the errors and success messages-->
    <div ng-if="errorText" class="text-center assertive-bg light">
      <div class="separator5"></div>
        <span ngfx-bounce-in="errorText">
          <i class="icon ion-alert"></i> {{errorText}}
        </span>
      <div class="separator5"></div>
      </div>
    <div ng-if="successText" class="text-center balanced-bg light">
      <div class="separator5"></div>
      <span ngfx-bounce-in="successText">
        <i class="icon ion-checkmark"></i> {{successText}}
      </span>
      <div class="separator5"></div>
    </div>
    <!--end all errors and success messages-->
    <div class="col col-80 col-offset-10">
      <div class="text-center">
        <div class="col col-80 col-offset-10">
          <div>Phone Wallet:</div>
          <div>{{publicAddress.toString()}}</div>
          <div>Balance:</div>
          <div>{{balance | UnitConvert:'satoshiToMbtc'}} mBTC</div>
        </div>
        <div class="separator10"></div>
        <button class="button button-block button-royal">Create NFC Wallet</button>
        <button class="button button-block" ng-click="copyFromClipboard()">
          <span ng-show="!copied">Copy from Clipboard</span>
          <span ng-show="copied">
            <i class="icon ion-android-share"></i>
            Copied
          </span>
        </button>
        <div class="separator10"></div>
        <label class="item item-input">
          <input ng-model="sendForm.toAddress" type="text" placeholder="1...">
        </label>
        <div class="separator10"></div>
        <button ng-click="sendBtc()" class="button button-block icon icon-left button-royal">
          <ion-spinner icon="ripple" class="spinner-light" ng-show="sending"></ion-spinner>
            <span ng-show="!sending">Send</span>
            <span ng-show="sending">Sending ...</span>
        </button>
        <div class="separator30"></div>
        <div class="list">
          Amount:
          <div class="separator10"></div>
          <label class="item item-input">
            <input type="text" placeholder="0.0 mBTC" ng-model="sendForm.outputAmount">
          </label>
          <button ng-click="sendBtc()" class="button button-block icon-left button-royal">
           <ion-spinner icon="ripple" class="spinner-light" ng-show="sending"></ion-spinner>
            <span ng-show="!sending">Send</span>
            <span ng-show="sending">Sending ...</span>
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
