<ion-view title="Send">
<ion-nav-view name="sendPassive"></ion-nav-view>
  <ion-content>
    <div class="col col-80 col-offset-10">
      <div class="text-center">
        <!-- <div>
          <div>
            <h5>From: Phone Wallet</h5>
          </div>
          <div>
            <h5>Balance</h5>
          </div>
          <div>{{balance | UnitConvert:'satoshisToMbtc'}} mBTC</div>
        </div>
        <div class="separator10"></div>
        <button class="button button-block button-royal" ng-click="waitNFCTag()">
          <ion-spinner icon="ripple" class="spinner-light" ng-show="waitingNFC"></ion-spinner>
          <span ng-show="!waitingNFC">Create NFC Wallet</span>
          <span ng-show="waitingNFC">Waiting for NFC tag ...</span>
        </button>
        <button class="button button-block" ng-click="copyFromClipboard()">
          <span ng-show="!copied">Copy from Clipboard</span>
          <span ng-show="copied">
            <i class="icon ion-android-share"></i>
            Copied
          </span>
        </button> -->


        <!-- <div class="separator10"></div>
        <h2>Send</h2> -->
        <div class="separator50"></div>
        <h5>To</h5>
        <div class="separator5"></div>
        <label class="item item-input">
          <input ng-model="sendForm.toAddress" type="text" id="toAddress" placeholder="1.............. (bitcoin address)">
        </label>
        <div class="separator20"></div>
        <div class="list">
          <h5>Amount</h5>
          <div class="separator5"></div>
          <label class="item item-input">
            <input type="number" placeholder="0.0 mBTC" ng-focus="sendFocus" ng-model="sendForm.outputAmount">
          </label>
             <!--all the errors and success messages-->
          <div ng-if="errorText || successText">
            <div class="separator10"></div>
            <div ng-if="errorText" class="text-center assertive-bg light radius">
            <div class="separator5"></div>
              <span>
                {{errorText}}
                <i class="icon ion-alert"></i>
              </span>
            <div class="separator5"></div>
            </div>
          <div ng-if="successText" class="text-center balanced-bg light">
            <div class="separator5"></div>
            <span>
              <i class="icon ion-checkmark"></i>
              {{successText}}
            </span>
            <div class="separator5"></div>
          </div>
          </div>
          <!--end all errors and success messages-->
          <button ng-click="sendBtc()" class="button button-block icon-left button-royal">
           <ion-spinner icon="ripple" class="spinner-light" ng-show="sending"></ion-spinner>
            <span ng-show="!sending">Send</span>
            <span ng-show="sending">Sending ...</span>
          </button>
        </div>
      </div>
      <div class="separator50"></div>
      <div class="separator30"></div>
    </div>
  </ion-content>
</ion-view>
