<ion-view title="Send">
  <ion-content>
    <div class="separator50"></div>
    <div class="col col-80 col-offset-10">
      <div class="text-center">
        <div class="separator50"></div>
        <button class="button b button-block button-royal">Create NFC Wallet</button>
        <button class="button button-block">Clipboard</button>
        <div class="separator30"></div>
        <div class="list">
          Amount:
          <div class="separator10"></div>
          <label class="item item-input">
            <input type="text" placeholder="0.0 mBTC">
          </label>
          <button class="button button-block">Set amount</button>
          <button class="button b button-block button-royal">Send</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
