<ion-view title="Receive">
<ion-content>
<div class="text-center">
	<div class="separator50"></div>
	<img class="light-bg" src="http://www.harrowhouse.com/Sites/Harrow%20House/library/files/1-Harrow-House-QR-code.png" width="60%"/>
	<div class="separator30"></div>
	Address!?!
	<div class="separator15"></div>
</div>
<div class="col col-80 col-offset-10">
	<button class="button b button-block button-royal">NFC</button>
	<h3>Amount</h3>
	<div class="list">
		<label class="item item-input">
			<input type="text" placeholder="BTC ...">
		</label>
	</div>
</div>
</ion-content>
</ion-view>