<ion-view class="receive-view" title="<img src= 'img/DogeNFC_Logo_Doge.png' class='logo-img' /><div class='supertitle'>Receive</div>">
  <ion-content>
    <div class="text-center">
      <div class="separator10"></div>
      <img class="light-bg qr" ng-click="qrTap = !qrTap" ng-class="{'active': qrTap}" ng-src="http://api.qrserver.com/v1/create-qr-code/?data={{publicAddress.toString()}}&color=000000&bgcolor=FFFFFF&qzone=1&margin=0&size=400x400&ecc=L" width="35%"/>
      <div><small class="dark">Tap to enlarge</small></div>
      <div class="separator40"></div>
      <div class="col col-80 col-offset-10">
        <input type="text" readonly class="row text-center" value="{{publicAddress.toString()}}" />
      </div>
      <div class="separator15"></div>
      <balance-refresh
        balance="{{balance}}"
        ng-click="refreshBalance()"
      ></balance-refresh>
      <div class="col col-80 col-offset-10">
        <button class="button button-block button-royal" ng-click="waitNFCTag()">
            <ion-spinner icon="ripple" class="spinner-light" ng-show="waitingNFC"></ion-spinner>
            <span ng-show="!waitingNFC">Sweep NFC tag</span>
            <span ng-show="waitingNFC">Waiting for NFC tag ...</span>
          </button>
      </div>
      <div class="separator50"></div>
      <div class="separator30"></div>
    </div>
  </ion-content>
</ion-view>
