<ion-view title="Settings">
<ion-content>
<div class="list">

	<label class="item item-input item-toggle">
		<div class="input-label">
			CURRENCY
		</div>
		<label class="toggle toggle-royal">
			<input type="checkbox">
			<div class="track">
				<div class="handle"></div>
			</div>
		</label>
	</label>
	<label class="item item-input item-select">
		<div class="input-label">
			UID
		</div>
		<select>
			<option selected>EUR</option>
			<option>DOLLAR</option>
			<option>YEN</option>
		</select>
	</label>

</div>
</ion-content>
</ion-view>