<ion-view>
<ion-content>
<div class="text-center stable-bg">
	<div class="separator50"></div>
	<img class="light-bg" src="http://www.harrowhouse.com/Sites/Harrow%20House/library/files/1-Harrow-House-QR-code.png" width="60%"/>
	<div class="separator50"></div>
</div>


<div class="item item-text-wrap">

	<h2>Address</h2>

	This is a basic Card which contains an item that has wrapping text.
</div>


<div class="separator50"></div>
<div class="row">

	<div class="button-bar">
		<a class="button button-outline button-royal">SEND</a>
		<a class="button button-outline button-assertive">RECEIVE</a>
	</div>

</div>
</ion-content>
</ion-view>
