<ion-view title="Bit<span class='royal'>NFC</span>">
  <ion-content>
    <div class="text-center">
      <div class="separator30"></div>
      <h3>Phone Wallet</h3>
      <div class="separator10"></div>
      <h4>Address</h4>
      <div class="separator10"></div>
      <img class="light-bg qr" ng-click="qrTap = !qrTap" ng-class="{'active': qrTap}" src="http://www.harrowhouse.com/Sites/Harrow%20House/library/files/1-Harrow-House-QR-code.png" width="35%"/>
      <div><small class="dark">Tap to enlarge</small></div>
      <div class="separator40"></div>
      <div class="col col-80 col-offset-10">
        {{publicAddress.toString()}}
      </div>
      <div class="col col-80 col-offset-10">
        <div>Balance:</div>
        <div>{{balance | UnitConvert:'satoshiToMbtc'}} mBTC</div>
      </div>
    </div>
  </ion-content>
</ion-view>
