<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-light">
			<ion-nav-back-button class="stable">Back</ion-nav-back-button>
			<ion-nav-buttons side="right">
				<button class="button button-clear infinite button-status" ngfx-pulse="nfcStatus" ng-class="{'button-stable': !nfcStatus, 'button-balanced': nfcStatus}">
					<span>
						&#9679;
					</span>
				</button>
				<button class="button button-icon button-clear ion-grid" menu-toggle="right">
				</button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="appContent"></ion-nav-view>
	</ion-side-menu-content>
	<ion-side-menu side="right">
		<ion-header-bar class="bar-light">
			<h1 class="title">
				<span>Settings</span>
			</h1>
		</ion-header-bar>
		<ion-content ng-controller="SettingsCtrl">
			<div class="list">
				<label class="item item-input item-select">
					<div class="input-label">Denomination</div>
					<select ng-model="settingsDenomination" ng-change="setDenomination()">
						<option ng-repeat="item in denominations" ng-selected="settingsDenomination === item" ng-value="item">
							{{item}}
						</option>
					</select>
				</label>
				<label class="item item-input item-select">
					<div class="input-label">Currency</div>
					<select ng-model="settingsCurrency" ng-change="setCurrency()">
						<option ng-repeat="item in currencies" ng-if="item" ng-selected="settingsCurrency === item" ng-value="item">
							{{item}}
						</option>
					</select>
				</label>
			</div>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
<!--footer tabs-->
<div class="tabs tabs-light tabs-icon-top footer-tabs">
	<!--debug only-->
	<div ng-controller="DebugCtrl" class="button-bar" ng-if="debugMode">
		<a ng-click="nfcEmpty()" class="button button-dark">
			NFC
			<p>empty</p>
		</a>
		<a ng-click="nfcMessage()" class="button button-dark">
			NFC
			<p>message</p>
		</a>
	</div>
	<!--debug end-->
	<div class="button-bar">
		<a class="button button-assertive" ui-sref="app.receive" ui-sref-active="active">
			<i class="icon ion-arrow-down-a"></i>
			<p>Receive</p>
		</a>
		<a class="button button-royal" ui-sref="app.send" ui-sref-active="active">
			<i class="icon ion-arrow-up-a"></i>
			<p>Send</p>
		</a>
	</div>
</div>
