<ion-nav-bar class="bar-light">
<ion-nav-back-button class="button-stable">
Back
</ion-nav-back-button>
</ion-nav-bar>
<ion-nav-view name="appContent"></ion-nav-view>
<div class="tabs tabs-light tabs-icon-top">
	<div class="button-bar">
		<a class="button button-royal" ui-sref="app.receive">
			<i class="icon ion-arrow-down-a"></i>
		</a>
		<a class="button button-dark" ui-sref="app.settings">
			<i class="icon ion-gear-a"></i>
		</a>
		<a class="button button-royal" ui-sref="app.send">
			<i class="icon ion-arrow-up-a"></i>
		</a>
	</div>
</div>
