body {
  font-family: 'Roboto', sans-serif;
}
small, small * {
  font-size: 12px;
}
a {
  color: #777;
}
a:active {
  color: #777;
}
a:hover {
  color: black;
}
.hidden {
  display: none;
}
.img-media {
  box-shadow: 0 0 0 5px white;
}
.btn-contacts {
  max-width: 200px;
  font-size: 20px;
}
.radius-crazy {
  border-radius: 3px 0 0 0;
}
.download {
  position: fixed;
  top: 15%;
  left: 0;
  right: 0;
  z-index: 999;
  max-width: 40%;
}
.font-mega {
  font-size: 40px;
}
.font-big {
  font-size: 25px;
}
.font-medium {
  font-weight:500;
}
.font-ubuntu{
  font-family: 'Ubuntu', sans-serif;
}
/*Backgrounds */
.bg-purple{
  background-color: #886AEA;
}
.bg-dark {
  background-color: #302E38;
}
.bg-crazy {
  background-color: #F62A41;
}
/*Video*/
.video{
  float:left;
}
.video.video-left{
  width:60%;
  margin:2%;
  padding:1%;
  float:left;
  border-radius:5px;
  background:white;
}
.video.video-right{
  width:20%;
  margin:2% 0;
  padding:1%;
  border-radius:5px;
  background:white;
}
/*tablet */
@media screen and (max-width: 800px) {
  /*put in here all tablet rules */
  .tablet-centered-content {
    text-align: center;
  }
}
/*mobile */
@media screen and (max-width: 400px) {
  /*put in here all mobile rules */
  .mobile-centered-content {
    text-align: center;
  }
}
