body {
  font-family: Roboto; }

iframe {
  border-radius: 10px; }

small {
  font-size: 12px; }
  small * {
    font-size: 12px; }

a {
  color: #777; }
  a:active {
    color: #777; }
  a:hover {
    color: black; }

.img-media {
  box-shadow: 0 0 0 10px white; }

.btn-contacts {
  max-width: 200px;
  font-size: 20px; }

.radius-crazy {
  border-radius: 3px 0 0 0; }

.download {
  position: fixed;
  top: 15%;
  left: 0;
  right: 0;
  z-index: 999;
  max-width: 40%; }

.font-mega {
  font-size: 28px; }

.font-big {
  font-size: 25px; }

.font-medium {
  font-size: 20px; }

/*Backgrounds */
.bg-dark {
  background-color: #302E38; }

.bg-crazy {
  background-color: #F62A41; }

/*tablet */
@media screen and (max-width: 800px) {
  /*put in here all tablet rules */
  .tablet-centered-content {
    text-align: center; } }
/*mobile */
@media screen and (max-width: 400px) {
  /*put in here all mobile rules */
  .mobile-centered-content {
    text-align: center; } }
.card.article {
  color: #FFF; }
  .card.article a, .card.article h1 {
    color: #FFF; }
  .card.article .provider-favicon {
    width: auto; }
  .card.article .bd {
    width: 55%; }

.card.article img, .art-bd-img {
  width: 100%;
  border-radius: 19px; }

.biancone.marcone {
  color: #FFF; }

.gallery img {
  width: 20%; }
