body,html{
  transition: opacity color 0.3s linear;
  background-color: #7416E5;
}
small{
  font-size:12px;
}
h1{
  font-size:26px;
}
h2{
  font-size: 24px;
}
.badge-top{
  position:absolute;
  top:-10px;
  right:-50px;
}
/*Fonts*/
.font-light{
  font-weight: lighter;
}
.font-custom{
  font-family: 'Ubuntu', sans-serif;
}
.video-footer{
  height:15%;
  margin-top:-1%;
  background:black;
}
.video-footer a{
  font-size:25px;
}
.video-footer i{
  font-size:29px;
}
.qr{
  box-shadow: -1px 2px 9px 0 rgba(0,0,0,0.2);
}
/*Backgrounds*/
.bg-purple{
  background-color:#7416E5;
}
.bg-crazy{
  background-color:#F62A41;
}
/*Layout*/
.line-max{
  max-width:800px;
  margin:0 auto;
  float:none;
}
/*Colors*/
.color-muted-more{
  color:rgba(0,0,0,0.4);
}
/*Extras*/
#video-start{
  border:3px solid rgba(0,0,0,0.5);
  height:80px;
  width:80px;
  display:block;
  border-radius:200px;
  font-size:35px;
  line-height: 80px;
  text-indent:5px;
}
.badge:hover{
  transition-duration: 0.3s;
  transform: scale(1.05);
}
.menu a{
  margin: 0 2%;
  font-size:16px;
  opacity:0.8;
  letter-spacing: 0.5px;
}
.menu a:hover{
  opacity:1;
}
.phone{
  background: url('../img/mobile.png') no-repeat top center;
  width:250px;
  height:560px;
  background-size:250px;
}
.phone img{
  margin:0 auto;
  float:none;
  width:230px;
  margin-top:40px;
}
/*Media*/
@media screen and (max-width:800px){
  /*put in here all tablet rules*/
  .center-content-tablet{
    text-align:center;
  }
}
