/* Empty. Add your own CSS if you like */
/*vertical spacing*/
.separator1 {
	min-height:1px;
	clear:both;
	float:none;
	width:100%;
}
.separator2 {
	min-height:2px;
	clear:both;
	float:none;
	width:100%;
}
.separator3 {
	min-height:3px;
	clear:both;
	float:none;
	width:100%;
}
.separator5 {
	min-height:5px;
	clear:both;
	float:none;
	width:100%;
}
.separator10 {
	min-height:10px;
	clear:both;
	float:none;
	width:100%;
}
.separator15 {
	min-height:15px;
	clear:both;
	float:none;
	width:100%;
}
.separator30 {
	min-height:30px;
	clear:both;
	float:none;
	width:100%;
}
.separator50 {
	min-height:50px;
	clear:both;
	float:none;
	width:100%;
}
.separator100 {
	min-height:100px;
	clear:both;
	float:none;
	width:100%;
}
.radius{
	border-radius:2px;
}
/*Reset*/
.no-border-top{
	border-top:none;
}
/*Extra*/
.button-status span{
	font-size:29px;
}
.footer-tabs{
	height:70px;
}
.tabs.footer-tabs .button{
	border-radius:0 0 0 0;
}
.footer-tabs p{
	margin:0;
	line-height: 0;
}
.qr{
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}
.qr.active{
	/*FIXME - box-shadow check performances on mobile*/
	box-shadow:0 0 300px 200px rgba(255,255,255,0.95);
}
.home-view .qr.active{
	-webkit-transform: 	scale(2.0);
	-moz-transform: 		scale(2.0);
	-ms-transform: 			scale(2.0);
	-o-transform: 			scale(2.0);
	transform: 					scale(2.0);
}
.receive-view .qr{
	-webkit-transform: 	scale(1) translate3d(0, 0, 0);
	-moz-transform: 		scale(1) translate3d(0, 0, 0);
	-ms-transform: 			scale(1) translate3d(0, 0, 0);
	-o-transform: 			scale(1) translate3d(0, 0, 0);
	transform: 					scale(1) translate3d(0, 0, 0);
}
.receive-view .qr.active{
	-webkit-transform: 	scale(1.7) translate3d(0, 35px, 0);
	-moz-transform: 		scale(1.7) translate3d(0, 35px, 0);
	-ms-transform: 			scale(1.7) translate3d(0, 35px, 0);
	-o-transform: 			scale(1.7) translate3d(0, 35px, 0);
	transform: 					scale(1.7) translate3d(0, 35px, 0);
}
/*ion-spinner*/
.button ion-spinner svg{
	max-width:23px;
	margin-top:-4px;
	vertical-align:middle;

}
